<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Namey - A random name generator</title>
    <meta name="description" content="a simple tool for generating random names">
    <meta name="author" content="Colin Mitchell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/namey.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <hgroup>
        <h1>Namey! <small>A random name generator</small></h1>
		    <p>Welcome to Namey, your friendly neighborhood random name
		      generator. It uses the 
		      <a href="https://www.census.gov/topics/population/genealogy/data/1990_census/1990_census_namefiles.html">US Census
			      Bureau database</a> of first and last names to generate
		      random names. You can specify a few options for the sort of
		      name you would like to get. It's pretty easy, so... Lets
		      make some names!</p>
      </hgroup>
    </header>
    
    <main>
	    <section id="forms">
        <header>
		      <h1>Options <small>What sort of names do you want?</small></h1>
		    </header>

			  <form role="form">
			    <fieldset>
            <div>
				      <label id="optionsRadio">Frequency</label>
					    <ul class="inputs-list">
					      <li>
						      <label>
						        <input type="radio" checked name="frequency" value="common" />
						        <span>'Common' names</span>
						      </label>
					      </li>
					      <li>
						      <label>
						        <input type="radio" name="frequency" value="rare" />
						        <span>Rare names</span>
						      </label>
					      </li>
					      <li>
						      <label>
						        <input type="radio" name="frequency" value="all" />
						        <span>All names</span>
						      </label>
					      </li>
					    </ul>
            </div>

            <div>
				      <label id="type-opts">Name Type</label>
              <small>The Census Bureau divides names by gender, so
                you can filter by that if it's important to you.</small>
					    <ul class="inputs-list">
					      <li>
						      <label>
						        <input type="radio" checked name="type" value="both" />
						        <span>Any gender</span>
						      </label>
					      </li>
					      <li>
						      <label>
						        <input type="radio" name="type" value="female" />
						        <span>Female</span>
						      </label>
					      </li>
					      <li>
						      <label>
						        <input type="radio" name="type" value="male" />
						        <span>Male</span>
						      </label>
					      </li>
					      <li>
						      <label>
						        <input type="radio" name="type" value="surname" />
						        <span>Just a surname</span>
						      </label>
					      </li>
					    </ul>
            </div>

            <div>
					    <ul class="inputs-list">
					      <li>
						      <label>
						        <input type="checkbox" name="with_surname" value="true" checked />
						        <span>Include a surname?</span>
						      </label>
					      </li>
					    </ul>
					    <small>
					      <strong>Note:</strong> If you uncheck this, you'll only get a first name.
					    </small>
            </div>

            <div>                
				      <label for="count">How many names to generate?</label>
					    <select name="count" id="count" class="form-control">
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					      <option>4</option>
					      <option>5</option>
					    </select>
            </div>
            
				    <div>
              <button type="button" class="btn btn-primary">Generate!</button>
				    </div>
			    </fieldset>
			  </form>
      </section>
      <section id="results">
        <header>
          <h1>Results</h1>
        </header>
			  <form id="name-results" class="form-horizontal">
			    <fieldset>
				    <div class="input">
					    <textarea class="form-control" name="nameList" id="nameList" rows="5"></textarea>
				    </div>
			    </fieldset>
			  </form>
	    </section>
    </main>

	  <section id="about">
			<p><b>Code:</b> Namey is powered by a ruby gem. The code is totally open source, do what you
			  like with it! <a href="https://github.com/muffinista/namey">Check it out on github</a>.</p>
			<p><b>API:</b> Do you like APIs? You're in luck! Namey
			  has a <a href="https://namey.muffinlabs.com/api.js">Javascript API</a> available so
			  you can generate names however you would like.</p>
	  </section>

    
    <footer>
      <p>&copy; Colin Mitchell 2021, <a href="http://muffinlabs.com">http://muffinlabs.com</a></p>
    </footer>
    
    <script src="/api.js"></script>
	  <script src="/ui.js"></script>
  </body>
</html>
