<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Namey - A random name generator</title>
    <meta name="description" content="a simple tool for generating random names">
    <meta name="author" content="Colin Mitchell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/namey.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>

  <body>
    Sorry, I'm offline for maintenance :(
  </body>
</html>
