body {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

header > hgroup > h1 {
  font-size: 1.2em;
}
header > hgroup {
  padding-left: 1.0em;
}
header > nav > ul {
  font-size: 0.9em;
  margin-left: 0.5em;
  display: flex;
}
header > nav > ul > li {
  margin-right: 0.5em;
}

body > main, body > footer, body > #about {
  padding-left: 1.0em;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75em;
  width: 100%;
}

main > section {
  margin: 0 auto;
  width: 100%;

}
main h1 {
  font-size: 1.2em;
}
main h2 {
  font-size: 1.1em;
}

section {
  margin-bottom: 2.0em;
}

#about {
  grid-column: 1 / span 2;
  margin: 0 auto;
}

fieldset {
  border: 0;
  padding: 0;
}
textarea {
  width: 100%;
}
button {
  font-size: 1.25em;
  padding: 0.5em;
}
fieldset > div {
  margin-bottom: 2.0em;
}
small {
  display: block;
}
@media (max-width: 1000px) {
  main {
    display: block;
    padding-left: 1.0em;
  }
  textarea {
    width: 95%;
  }
}

